.desktop {
  background-color: #d5e1ef;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 800px;
}

.Container {
  background-color: #ffffff;
  margin: auto;
  width: 320px;
  height: 497px;
  border-radius: 20px;
}

.Oval {
  background-color: #3685ff;
  margin-top: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-right: auto;
  padding-top: 20px;
  width: 288px;
  height: 288px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Qrcode {
  margin: auto;
  align-self: center;
}

.Text-box {
  width: 288px;
  height: 129px;
  margin: auto;
}

.Text-box h1 {
  font-size: 22px;
  font-family: "Outfit";
  font-weight: 700px;
  line-height: 27.72px;
  text-align: center;
  letter-spacing: 1px;
  width: 288px;
  height: 56px;
}

.Text-box p {
  font-size: 15px;
  font-family: "Outfit";
  line-height: 18.9px;
  text-align: center;
  font-weight: 400px;
  justify-content: center;
  width: 288px;
  height: 56px;
  letter-spacing: 1px;
}

@media all and (max-width: 700px) {
  .desktop {
    background-color: #d5e1ef;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 667px;
  }
}
